
@{
    ViewBag.Title = "Aereo";
}



<div container>
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">
            <img class="imagem" src="~/Imagem/frete-aereo.jpeg">
        </div>
    </div>
</div>

<br />


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center"><b>Aéreo Nacional</b></h2>
            <h3>Tabela de Frete Aéreo</h3>
            <p class="text-justify">Quando surge a necessidade de realizar a entrega de uma mercadoria urgente ou que apresente características especiais que pedem o uso do transporte aéreo é preciso entender a tabela de frete aéreo.</p>
            <p class="text-justify">Com a tabela de frete aéreo é possível calcular os custos do transporte da sua carga, a tabela identifica os valores para cada peso e quantidade da mercadoria tendo como base as tarifas vigentes nas cias aéreas. Por isso quando um cliente solicita a cotação do serviço de frete aéreo é necessário saber a estimativa de peso para que a transportadora possa avaliar na tabela de frete aéreo os custos que irá gerar. Quer saber mais? Acompanhe o texto!</p>
            <br />
            <h3>Tabela de Frete Aéreo: saiba como funciona</h3>
            <p class="text-justify">A tabela de frete aéreo é fiscalizada pela Agência Nacional da Aviação Civil (ANAC), e os valores são ajustados conforme a rota traçada para o envio. Assim, a tarifa é determinada de acordo com a logística exigida, que começa do convencional até o próximo vôo a ser embarcado, bem como a localidade de destino.</p>
            <p class="text-justify">Para definir valores de frete na tabela de frete aéreo a tarifa por KG é calculada multiplicando o peso da carga após conferido o fator cubagem (CxLxA). Um outro fator que altera o valor final é o prazo de entrega, por isso se a sua empresa precisa de uma entrega urgente a tabela de frete aéreo pode auxiliar nesta escolha.</p>
            <p class="text-justify">Portanto, cada tipo de carga tem uma tabela de frete aéreo específica e esses valores são determinados pensando também na forma de garantir a qualidade da entrega. Os custos que um frete gera envolve profissionais treinados, frota de ponta e sistemas tecnológicos avançados para que o transporte proporcione o máximo de segurança e tranquilidade ao cliente.</p class="text-justify">

            <br />
            <div class="d-grid gap-2 d-md-block">
                @Html.ActionLink("Entre em Contato", "Cotacao", "Home", new {@class="btn btn-danger"})
            </div>
        </div>
    </div>
    
</div>
