
@{
    ViewBag.Title = "Containers";
}



<section id="corpo">
    <h2 class="text-center">Transporte de Containers</h2>

    <hr />

    <div id="conteudo">
            <p class="text-center"><img src="~/Imagem/Containers1.jpeg" alt="Containers" align="left" height="200" width="500" />
                Transportamos todos os tipos de container, de 20 de 40, carga seca, químico, com excesso de medidas etc.<br />
                Atuamos com eficientes parcerias em Agentes de Carga, Freight forwarder, Trading, despachantes aduaneiros, importadores e exportadores.<br />
                Importação: Coletamos o container cheio, levamos até o local de destino, aguardamos a descarga da mercadoria e voltamos com o container vazio para o porto.<br />
                Exportação: Coletamos o container vazio, levamos até o local de destino, aguardamos a estufagem da mercadoria e voltamos com o container cheio para o porto.<br />
            </p>
        </div>
    <br /> <br /> <br />
    <div>
        @Html.ActionLink("Entre em Contato", "Cotacao", "Home", new { @class = "btn btn-danger " } )

    </div>
    
</section>



