
@{
    ViewBag.Title = "Dedicado";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center"> <b>Veículo Dedicado</b></h1>
            <hr />
            <div>
                @Html.ActionLink("Entre em Contato", "Cotacao", "Home", new { @class = "btn btn-danger" })

            </div>
            <br />
            <div class="texto">
                <p class="text-justify">Serviço de Transporte de mercadoria com exclusividade em veículos dedicados que exigem garantia de entrega com limite de tempo definido, utilizando veículos de acordo com necessidade do cliente e com operações em todo território brasileiro.</p>
                <p>Nossos diferenciais são:</p>
                <ul>
                    <li>Coletas programadas ou esporádicas;</li>
                    <li>Serviço porta a porta;</li>
                    <li>Seguro da carga;</li>
                    <li>Rastreamento da carga;</li>
                    <li>Veículos conforme a necessidade da operação.</li>
                </ul>
                <p class="text-justify">Os diferentes tipos de caminhões, suas especificações e capacidades, começando pelos pequenos veículos urbanos de carga, utilizado dentro de centros urbanos, até os grandes caminhões articulados que encontramos em rodovias, utilizados para transporte de grandes quantidades de carga por longas distâncias.</p>
                <p class="text-justify">O CONTRAN (Conselho Nacional de Trânsito) limita o peso máximo por eixo que pode ser carregado pelos veículos. Este limite deve-se ao fato que quanto maior a força que os pneus aplicam sobre a camada de asfalto, maior será a degradação deste asfalto. Assim, os caminhões podem levar muito peso, desde que ele esteja distribuído por vários eixos (maior número de rodas para distribuir o peso da carga).</p>
            </div>
            <div class="col-md-12 text-center">
                <div class="text-center">
                    <img src="~/Imagem/Dedicado.jpeg" class= " rounded mx-auto d-block " />
                </div>

            </div>
        </div>
    </div>
</div>

