
@{
    ViewBag.Title = "Refrigerado";
}



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Cargas Refrigeradas</h2>
            <hr />

            <div>
                @Html.ActionLink("Entre em Contato", "Cotacao", "Home", new { @class = "btn btn-danger" })

            </div>
            <br />
            <p>
                <b>Dispomos da mais alta tecnologia de refrigeração de cargas do mercado, com equipamentos de última geração. Nossos equipamentos permitem a rastreabilidade e o monitoramento da temperatura exigida.</b>
            </p>
            <br />
            <p>Atendemos a região Sudeste(SP, RJ e ES) e trabalhamos com cargas de temperatura ambiente (15° a 25°C) Resfriadas (2° a 8°C) e Congeladas (-20°C) desde fiorino à Carreta.</p>
            <ul>
                <li>Comex</li>
            </ul>
            <p>Operamos nos principais portos e aeroportos do país: Santos, Rio de Janeiro, Guarulhos e Campinas com veículos refrigerados.</p>
            <p>Atuamos com eficientes parcerias em Agentes de Carga, Freight forwarder, Trading, despachantes aduaneiros, importadores e exportadores. Temos Fiorinos, vans, (hr, vulk, iveco), 3/4, Tocos e Truks.</p>

            <ul>
                <li>Dedicadas</li>
            </ul>

            <p>Dispomos da mais alta tecnologia de refrigeração de cargas do mercado, com equipamentos de última geração.</p>
            <p>Trabalhamos com cargas de temperatura ambiente (15° a 25°C) Resfriadas (2° a 8°C) e Congeladas (-20°C) . Temos fiorinos, vans, (hr, vulk, iveco), 3/4, tocos e trucks refrigerados.</p>

            <ul>
                <li>Refrigerado para eventos</li>
            </ul>
            <p>Disponibilizamos veículos refrigerados para ficarem ligado na tomada ou no motor, refrigerando cargas durante eventos ou armazenagem temporária de mercadorias que tem a necessidade de refrigeração.</p>
            <p>Atuamos em eventos de grande porte tais como: Formula 1 , Rock in rio , Jockey ,Formula truck ,lollapalooza,vila mix ,coala e muitos outros ,com veículos de pequeno e grande porte.</p>
        </div>
        <br />
        <div>
            <div class="col-xs-12 col-lg-6">
                <img src="~/Imagem/carga (2).jpeg" class="thumbnail img-responsive" />
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-lg-6">
                <img src="~/Imagem/frios.jpeg" class="thumbnail img-responsive" />
            </div>
        </div>

    </div>
</div>

