
@{
    ViewBag.Title = "Sobre";
}



<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2 class="text-center text-danger">Sobre a Empresa</h2>
            <p>
                Localizada em São Bernardo do Campo, Estado de São Paulo, a Águia Express, atua no ramo de transportes de cargas fracionadas, refrigerada e aéreo Nacional, e tem como diferencial a experiência e o profissionalismo, adquiridos nos mais de 20 anos de atuação neste mercado.
                A Águia Express atende todos os Estados Brasileiros. Sua estrutura compõe frota própria e agregada, bases em diversas cidades brasileiras, profissionais qualificados, gerenciamento de risco e seguros RCTR-C, RCF-DC e RCTA-C com o objetivo de atender plenamente as necessidades de seus clientes.
            </p>
        </div>

        <h2 class="text-center text-danger">Nossa História</h2>
        <br />
        <p class="text-center h4">
            Fundada em Agosto de 1998, em Barueri, Estado de São Paulo, como Transportes Vooe Longe LTDA, a empresa iniciou suas atividades como representante para a região da zona Oeste é atualmente atendemos todo Brasil.
            Em maio de 2000, passou a trabalhar independente com o nome fantasia de Águia Express, passando a atender toda a Grande São Paulo nos serviços de carga aérea, transferências e porta-a-porta (entrega em domicilio).
            Em maio de 2006, iniciou as operações também no modal rodoviário, utilizando-se de parcerias com empresas de renome no transporte rodoviário, realizando transferências para todo o Brasil.
        </p>
        <br /><br />
        <div class="col-xs-12 col-lg-4 ">
            <div class="card">
                <img src="~/Imagem/misão.jpeg " alt="Missão" />
                <div>
                    <h4 class="text-center text-danger"> <b>MISSÃO</b></h4>
                    <p class="text-justify">Atender os clientes, com qualidade, experiência e eficácia, dentro das normas vigentes no transporte de cargas, com informações e prazos reais, buscando o aperfeiçoamento constante dos processos e serviços prestados.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 ">

            <img src="~/Imagem/visão.jpeg" />
            <div>
                <h4 class="text-center text-danger"> <b>Visão</b></h4>
                <p class="text-justify">Nosso objetivo permanente é apresentar soluções logísticas baseados em valores éticos, transparência, integridade, agilidade e que atendam todas as necessidades a nós confiadas.</p>
            </div>


        </div>
        <div class="col-xs-12 col-lg-4 ">

            <img src="~/Imagem/Valores.jpeg" />
            <div>
                <h4 class="text-center text-danger"> <b>Valores</b></h4>
                <ul>
                    <li>Profissionalismo</li>
                    <li>Aperfeiçoamento</li>
                    <li>Cuidado com o meio ambiente</li>
                    <li>Trabalho em equipe</li>
                    <li>Qualidade</li>
                </ul>
            </div>
        </div>

    </div>
</div>

